body {
  display: flex;
  justify-content:space-around;
  align-items:center;
  background: url("assets/freedom.jpg") no-repeat center center fixed;
  background-size: cover;
  margin:0;
  padding:0;
}
div {
  width: auto;
  
}
blockquote {
  height: auto;
  font-variant: small-caps; 
  text-align: center;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 35px;
  letter-spacing: 6px;
  line-height: 1;
  font-stretch: ultra-expanded;
  
}
p {font-style: italic;
  font-size: 18px;
  text-align:center;
  margin:auto;
}

nav {margin:40px auto;
text-align:center;
}